@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.common-btn {
  color: white;
  background-color: #5669ff;
  border: none;
}

.header-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  align-items: center;
  padding: 0 60px;
}
.header-container .logo {
  grid-column: span 3;
}
.logo img {
  width: 101px;
}
.nav-list {
  grid-column: span 6;
}
.nav-list ul {
  display: flex;
}

.nav-list ul li {
  list-style: none;
}
.nav-list ul li a {
  color: #656161;
  font-size: 16px;
  text-decoration: none;
  margin-left: 50px;
}
.header-btn {
  grid-column: span 3;
  justify-self: end;
}
.header-btn button {
  padding: 10px 20px;
  border-radius: 10px;
}

main {
  background-color: #f2f2f2;
}
